.principles {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.principles-item {
  width: 75%;
  text-align: center;
}

.principles-item + .principles-item {
  margin-top: 2rem;
}

.item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.item-icon {
  width: 3rem;
  height: 3rem;
  color: var(--color-text-title);
  margin-right: 1rem;
}

.item-description {
  margin: auto;
}

@media (min-width: 800px) {
  .principles {
    margin: 0 2rem;
    flex-direction: row;
    align-items: stretch;
  }

  .principles-item {
    width: 30%;
  }

  .principles-item + .principles-item {
    margin-top: unset;
  }
}