.partners-box {
  margin: 4rem 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.partners-box h1 {
  text-align: center;
  color: var(--color-text-title);
  font-size: 4rem;
}

.partners-grid {
  margin: 2rem 0 1rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 1rem;
}

.partners-box img {
  max-height: 75px;
  max-width: 200px;
  justify-self: center;
  align-self: center;
}