.partners-grid {
  margin: 0 2rem 2rem;
  display: flex;
  flex-direction: column;
  width: 90%;
}

.partners-grid ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.partners-grid ul li {
  font-size: 2rem;
  line-height: 3rem;
  white-space: nowrap;
  margin-left: 0.5rem;
}

.blindex,
.startemper,
.artemper,
.esquadrimax {
  text-align: end;
  margin-right: 0.5rem;
}