.page-link-item {
  padding: 0 1.6rem;
  text-decoration: none;
  transition: opacity 0.2s;
}

.page-link-item:hover {
  opacity: 0.6;
}

.page-link-item p {
  color: var(--color-text-title);
  white-space: nowrap;
}

.page-title--modified {
  text-decoration: underline;
  font: 700 1.8rem Poppins;
}