.general-button {
  border-radius: 1rem;
  background-color: var(--color-secondary-dark);
  border: 0;
  height: 3.6rem;
  margin: 1rem 0;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);
  transition: box-shadow 0.3s;
}

.general-button:hover {
  box-shadow: 15px 15px 27px #e1e1e3, -15px -15px 27px #ffffff;
  /* opacity: 0.9; */
  cursor: pointer;
}

.button-link {
  padding: 1.6rem;
  font: 700 1.7rem Archivo;
  text-decoration: none;
  color: var(--color-button-text);
}

@media (min-width: 1200px) {
  .general-button {
    height: 4rem;
    margin: 2rem 0;
  }
  
  .button-link {
    padding: 2rem;
    font: 700 1.8rem Archivo;
  }
}