.main-layout {
  width: 100%;
  max-width: 2500px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.header {
  width: 100%; 
  max-width: 2500px;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}

.footer {
  width: 100%;
  background-color: var(--color-box-base);
}