.contact-footer-container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  background-color: var(--color-box-base);
  border-style: outset none none none;
  border-width: 0.5px;
  padding: 1.2rem 0;
  position: relative;
}

.shape-top {
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  top: -40px;
}

.shape-top svg {
  width: calc(500% + 1.3px);
  height: 40px;
  display: block;
  position: relative;
  left: -150%;
  overflow: hidden;
  transform: rotateZ(180deg);
}

.shape-top-fill {
  fill: #2e6f45;
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
  transform-origin: center;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}

.contact-footer-container .title-divider {
  margin: 0.5rem 0 1.5rem;
}

.contact-footer-container h1, h2 {
  color: var(--color-text-title);
}

.footer-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.2rem;
}

.footer-icon {
  color: var(--color-primary-dark);
  margin: 0 0.5rem;
  height: 2rem;
  width: 2rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin: 0 2rem;
}

.contact-infos a {
  text-decoration: none;
  transition: opacity 0.2s;
  color: var(--color-primary-dark);
}

.contact-infos a:hover {
  opacity: 0.6;
}

.social-medias .links {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 50%;
}