.page-footer {
  width: 100vw;
  display: grid;
  margin: 1rem auto 0;
  background-color: var(--color-primary-dark);
  height: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "copyright developed-by";
  padding: 0 6rem;
}

.copyright {
  display: flex;
  justify-content: flex-start;
  align-self: center;
}

.developed-by {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-self: center;
}

.developer {
  margin-left: 0.4rem;
  font-style: italic;
}

.page-footer p {
  font: 400 1.1rem Poppins;
  color: var(--color-button-text);
}