.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
  margin: 0 2rem;
}

.landing-welcome-images {
  width: 100%;
}

.home-images {
  width: 100%;
}

.landing-main-content {
  width: 80%;
}
