:root {
  --color-background: #fdfdfd;
  --color-primary-lighter: #80ff80;
  --color-primary-light: #20ce55;
  --color-primary: #84bc8f;
  --color-primary-dark: #2e5b3c;
  --color-primary-darker: #1f3d28;
  --color-secondary: #ff943d;
  --color-secondary-dark: #b55b12;
  --color-text-title: #293845;
  --color-text-primary: #47545f;
  --color-text-complement: #9ea9b3;
  --color-text-base: #47545f;
  --color-line-in-gray: #c3cfd9;
  --color-button-text: #FFFFFF;
  --color-box-base: #f7f9fa;
  --color-box-footer: #dfe6ed;

  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
  width: 100vw;
}

body {
  background: var(--color-background);
}

/* #root {
  display: flex;
  align-items: center;
  justify-content: center;
} */

body,
input,
button,
textarea {
  font: 500 1.6rem Poppins ;
  color: var(--color-text-base);
}

/* .container {
  width: 90vw;
  max-width: 700px;
} */

@media (min-width: 700px) {
  :root {
      font-size: 62.5%;
  }
}