.main-layout {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 100%; 
}

.main-content {
  width: 100%;
}

.footer {
  width: 100%;
  background-color: var(--color-box-base);
}