.page-header {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  background-color: var(--color-background-in-trasparent);
  box-shadow: 0 0px 6px 0px rgba(0,0,0,.2);
  align-items: center;
  height: 8.6rem;
}

.top-bar-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header .top-bar-container .logo {
  color: var(--color-primary);
  font-size: 3.2rem;
}

.top-bar-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.contact-link-item {
  padding: 0 1.6rem;
  text-decoration: none;
  padding: 0 1.6rem;
  border: none;
  background: none;
  outline: none;
  transition: opacity 0.2s;
}

.contact-link-item:hover {
  opacity: 0.6;
  cursor: pointer;
}

.contact-link-item p {
  color: var(--color-text-title);
  text-align: center;
}

.top-bar-contact {
  display: none;
}

@media (min-width: 950px) {
  .top-bar-contact {
    display: block;
  }
}

@media (min-width: 800px) {
  .page-header {
    justify-content: space-around;
    align-self: flex-start;
    height: 6.8rem;
  }
  
  .top-bar-container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: "logo top-bar-content";
    padding: 1.6rem 0;  
  }
  
  .page-header .top-bar-container .logo {
    padding: 0 3.2rem;
    display: flex;
    justify-content: center;
  }
  
  .top-bar-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}