.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 2rem 2rem;
}

.intro h1 {
  text-align: center;
  font-size: 3.4rem;
  color: var(--color-text-title);
  max-width: 100%;
}

.intro-description {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro p {
  margin: 0.5rem 0;
  text-align: center;
  max-width: 90%;
  line-break: 1rem;
}

@media (min-width: 450px) {
  .intro p {
    max-width: 80%;
  }
}

@media (min-width: 800px) {
  .intro h1 {
    font-size: 4rem;
    max-width: 90%;
  }

}

@media (min-width: 950px) {
  .intro p {
    font-size: 1.8rem;
  }  
}