.product-card {
  max-width: 80%;
  border-radius: 16px;
  box-shadow: -15px 15px 45px -5px rgb(0,0,0,.2);
  background-color: var(--color-box-base);
  overflow: overlay;
}

.product-card + .product-card {
  margin-top: 7rem;
}

.product-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card-content img {
  width: 100%;
  object-fit: contain;
}

.product-card-content .description {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 1.2rem;
  border-top-style: solid;
  border-top-color: var(--color-primary-darker);
  border-top-width: 0.6rem;
}

.product-card-content .description h3 {
  font-size: 2.4rem;
  color: var(--color-text-title);
  line-height: 2.8rem;
  margin: 0rem 0 0.5rem;
}

.product-card-content .description p {
  color: var(--color-text-primary);
  font-size: 1.6rem;
  padding: 0 2rem;
}

.product-card-content {
  text-decoration: none;
}

@media (min-width: 650px) {
  .product-card {
    max-width: 70%;
  }
}

@media (min-width: 800px) {
  .product-card {
    max-width: 85%;
    align-self: stretch;
    justify-self: center;
  }

  .product-card + .product-card {
    margin-top: unset;
  }

  .product-card-content .description {
    border-top-width: 0.4rem;
  }

  .product-card-content .description p {
    padding: unset;
    font-size: 1.4rem;
  }    
}

@media (min-width: 1200px) {
  .product-card-content .description p {
    font-size: 1.6rem;
  }

  .product-card-content .description h3 {
    font-size: 3rem;
    line-height: 3.2rem;
    margin: 0.5rem 0 0.5rem;
  }

  .product-card-content .description {
    border-top-width: 0.6rem;
    padding: 1.6rem;
  }
}